---
layout: default
pageclass: homepage
---
<div class="mentions-panel">
    <div class="mention">
        {% include youtube.html v="ONMpwpUdbt8" enablejsapi=true %}
        <div>
            <p>Featured & shared by Croteam</p>
            <a>Read More</a>
        </div>
    </div>
    <div class="mention">
        {% include youtube.html v="xjTph0xBC1A" enablejsapi=true %}
        <div>
            <p>Creator of Bionicle shares praise for retrospective</p>
            <a>Read More</a>
        </div>
    </div>
    <div class="mention">
        {% include youtube.html v="4K4C6cXFVUQ" enablejsapi=true %}
        <div>
            <p>Winner of /r/FanTrailers contest judged by Derek Lieu</p>
            <a>Read More</a>
        </div>
    </div>
</div>
<iframe id="player" src="https://www.youtube.com/embed/Hht_EkMZABE?mute=1&modestbranding=1&controls=0&autohide=1&showinfo=0&rel=0&wmode=opaque&enablejsapi=1"></iframe>
<script>
/* Load the youtube embed iframe api script */
var tag = document.createElement('script');
tag.id = 'iframe-demo';
tag.src = 'https://www.youtube.com/iframe_api';
var firstScriptTag = document.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

/* Get the video id from the iframe */
var videoId;
var iframe = document.querySelector("#player");
var rx = /https:\/\/www.youtube.com\/embed\/(.*)\?.*/
videoId = rx.exec(iframe.src)[1];

/* Get video aspect ratio information and resize video to match*/
var ratio;
var xhr = new XMLHttpRequest();
xhr.open("GET", "https://www.youtube.com/oembed?url=https://www.youtube.com/watch?v=" + videoId + "&format=json&maxwidth=1920&maxheight=1080", true);
xhr.onreadystatechange = function() {
    if(xhr.readyState == XMLHttpRequest.DONE && xhr.status == 200) {
        var response = JSON.parse(xhr.responseText);
        ratio = response.width / response.height;

        /* Resize our iframe based on current window size */
        function resizeWindow() {
            var main = document.querySelector("main")
            var width = document.documentElement.clientWidth;
            var height = document.documentElement.clientHeight;
            var newWidth = Math.max(width, Math.ceil(ratio*height));
            var newHeight = Math.ceil(newWidth/ratio);
            var top = -(newHeight - height)/2;
            var left = -(newWidth - width)/2;
            iframe.style="width:"+newWidth+"px;height:"+newHeight+"px;top:"+top+"px;left:"+left+"px;";
        }
        window.onresize = resizeWindow;
        resizeWindow();
    }
}
xhr.send(null);


/* Create a player element */
var player;
function onYouTubeIframeAPIReady() {
player = new YT.Player('player', {
    events: {
      'onReady': onPlayerReady,
    }
});

}
function onPlayerReady(event) {
player.playVideo();
}
</script>