---
layout: default
title: Other
---
<div class="videobox-container">
{% for event in site.events reversed %}
    <div class="videobox">
        <div class="youtube">
            <div class="youtube-thumbnail lazy"
            {%- unless event.image -%}
                {%- if event.usealt -%}
                    data-bg="http://i.ytimg.com/vi/{{ event.video_id }}/maxresdefault.jpg"
                {%- else -%}
                    data-bg="http://i.ytimg.com/vi/{{ event.video_id }}/hqdefault.jpg"
                {%- endif -%}
            {%- else -%}
                data-bg="/assets/images/{{ event.image }}"
            {%- endunless -%}
                data-iframesrc="https://www.youtube.com/embed/{{ videoid }}?autoplay=1&rel=0&modestbranding=1&enablejsapi=1"
            ></div>
            <span class="videobox-type">{{ event.type }}</span>
        </div>
        <h1>{{ event.title }}</h1>
        {% if event.mention %}
            <p>{{ event.mention }}</p>
        {% endif %}
    </div>
{% endfor %}
</div>
{% include youtubeoverlay.html %}
