---
layout: default
title: Trailers
---
<div class="videobox-container">
{% for trailer in site.trailers reversed %}
    <div class="videobox">
        <div class="youtube">
            <div class="youtube-thumbnail lazy"
            {%- unless trailer.image -%}
                {%- unless trailer.usealt -%}
                    data-bg="http://i.ytimg.com/vi/{{ trailer.video_id }}/maxresdefault.jpg"
                {%- else -%}
                    data-bg="http://i.ytimg.com/vi/{{ trailer.video_id }}/hqdefault.jpg"
                {%- endunless -%}
            {%- else -%}
                data-bg="/assets/images/{{ trailer.image }}"
            {%- endunless -%}
                data-iframesrc="https://www.youtube.com/embed/{{ trailer.video_id }}?autoplay=1&rel=0&modestbranding=1&enablejsapi=1"
            ></div>
            <span class="videobox-type">{{ trailer.type }}</span>
        </div>
        <h1>{{ trailer.title }}</h1>
        {% if trailer.mention %}
            <p>{{ trailer.mention }}</p>
        {% endif %}
    </div>
{% endfor %}
</div>
{% include youtubeoverlay.html %}
