<script>
/* Generate a black screened overlay and play the video when a thumbnail is clicked. */
document.addEventListener("DOMContentLoaded", function(event){
    const youtubes = Array.from(document.getElementsByClassName("youtube"));
    youtubes.forEach(function(item){
        const img = item.firstElementChild;
        img.addEventListener("click", (function(dotyoutube){
            return function(e){
                e.preventDefault();
                const iframe = document.createElement("iframe");
                iframe.setAttribute("allow","autoplay");
                iframe.src = img.getAttribute("data-iframesrc");
                const overlay = document.getElementById("overlay");
                overlay.appendChild(iframe);
                overlay.classList.remove("hidden");
            };
        }(item)));
    });
});
</script>